body{
	font-family: Tahoma;
	color: floralwhite;
	font-size: 3rem;
	margin: 0px;
	background: url("tlo6.jpg");
	 }

.header {
	padding-top: 50px;
	font-size: 5rem;
    display: flex;
    justify-content: center;
}

.caly {
	
	
	text-align: center;
}

.day-vers {
	display: flex;
	padding-top: 6rem;
	text-align: center;
	margin: 10px;
}

.odnosnik {
	font-size: 2rem;
	text-align: right;
	padding: 2rem;
}

.asks {
	justify-content: center;
	margin: 35px;
	
}

hr {
	margin: 40px;
	
}

ul.a {
	
	margin: 10px;
	list-style-type: disclosure-closed;

}

/*ul li:before {
	background: linear-gradient(45deg, #f69ec4,#f9dd94);
}*/

/*.background {
	    position: absolute;
    opacity: 100%;
    width: 100%;
    height: 100%;
    z-index: -2;
}*/

.black-opp {
	z-index: -1;
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: black;
	opacity: 25%;       /* każde tło na 25%, a kamyki na 45%
}