body {
	font-family: Tahoma, serif;
	color: floralwhite;
	font-size: 3rem;
	margin: 0;
	background: url("tlo2.jpg");
}

.today-header {
	padding-top: 50px;
	font-size: 5rem;
    text-align: center;
}

.entire-verses {
	text-align: center;
}

.day-verse {
	display: flex;
	flex-direction: column;
	padding: 3rem 1rem 0 1rem;
	text-align: center;
	margin: 10px;
}

.reference {
	font-size: 2rem;
	text-align: right;
	padding: 2rem;
}

.asks {
	justify-content: center;
	margin: 35px;
	
}

hr {
	margin: 40px;
	
}

ul.a {
	
	margin: 10px;
	list-style-type: disclosure-closed;

}

.black-opp {
	z-index: -1;
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: black;
	opacity: 25%;
}